In [1]:
import pandas as pd

In [5]:
data_df = pd.read_csv("city_weather_data.csv", encoding="utf-8")
data_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,grenaa,100.0,DK,1.563480e+09,68.0,56.42,10.88,68.00,4.70
1,billings,20.0,US,1.563480e+09,30.0,45.79,-108.50,84.00,8.05
2,new norfolk,20.0,AU,1.563480e+09,65.0,-42.78,147.06,55.99,17.22
3,tiksi,94.0,RU,1.563480e+09,84.0,71.64,128.87,37.49,10.67
4,port hedland,98.0,AU,1.563480e+09,58.0,-20.31,118.58,55.40,6.93

In [10]:
data_df.to_html("data.html")